@model IEnumerable<DoAN_S4.Models.DataModel.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh mục</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách tài khoản</h6>
        </div>

        <div class="page-header row" style="padding-top:10px">
            <div class="col-md-12" style="display: flex;">
                <form action="" method="get" class="form-inline ml-lg-auto">
                    <div class="form-group">
                        <label class="sr-only" for="">label</label>
                        <input class="form-control" name="email" placeholder="Search" value="">
                    </div>
                    <button type="submit" class="btn btn-icon btn-default mr-1"><i class="fas fa-check"> </i></button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center align-middle">Id_Account</th>
                            <th class="text-center align-middle">Name</th>
                            <th class="text-center align-middle">Email</th>
                            <th class="text-center align-middle">Password</th>
                            <th class="text-center align-middle">Phone</th>
                            <th class="text-center align-middle">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center align-middle" scope="row"> @Html.DisplayFor(modelItem => item._id)</td>
                                <td class="text-center align-middle" scope="row"> @Html.DisplayFor(modelItem => item.Name)</td>
                                <td class="text-center align-middle" scope="row"> @Html.DisplayFor(modelItem => item.Email)</td>
                                <td class="text-center align-middle" scope="row"> @Html.DisplayFor(modelItem => item.Password)</td>
                                <td class="text-center align-middle" scope="row"> @Html.DisplayFor(modelItem => item.Phone)</td>
                                <td class="text-center align-middle" scope="row"> @Html.DisplayFor(modelItem => item.Address)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <p>
                    Trang :
                    @for (int i = 1; i < ViewBag.totalpage; i++)
                    {
                        if (i == (int)ViewBag.page)
                        {
                            <span>@i</span>
                        }
                        else if (ViewBag.name != null)
                        {
                            <a href="?page=@i&name=@ViewBag.name">@i</a>
                        }
                        else
                        {
                            <a href="?page=@i">@i</a>
                        }
                    }
                </p>
                @*<p>
                    Trang :
                    @for (int i = 1; i < ViewBag.totalpage; i++)
                    {
                        if (i == (int)ViewBag.page)
                        {
                            <span>@i</span>
                        }
                        else if (ViewBag.email != null)
                        {
                            <a href="?page=@i&email=@ViewBag.email">@i</a>
                        }
                        else
                        {
                            <a href="?page=@i">@i</a>
                        }
                    }
                </p>*@
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->