@model IEnumerable<DoAN_S4.Models.DataModel.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="~/admin/FromCreate/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

    </head>
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Danh Mục</h2>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <table class="table">
                                <thead class="thead-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th scope="row"> @Html.DisplayFor(modelItem => item.Id_Category)</th>
                                            <td> @Html.DisplayFor(modelItem => item.Name)</td>
                                            <td> @Html.DisplayFor(modelItem => item.Status)</td>
                                            <td class="d-flex">
                                                <a asp-action="Edit" asp-area="Admin" asp-controller="Category" asp-route-id="@item.Id_Category">
                                                    <i class="fas fa-info-circle"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a asp-action="Delete" asp-area="Admin" asp-route-id="@item.Id_Category" onclick="return confirm('Are you sure ?')">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <p>
                                Trang :
                                @for (int i = 1; i < ViewBag.totalpage; i++)
                                {
                                    if (i == (int)ViewBag.page)
                                    {
                                        <span>@i</span>
                                    }
                                    else if (ViewBag.name != null)
                                    {
                                        <a href="?page=@i&name=@ViewBag.name">@i</a>
                                    }
                                    else
                                    {
                                        <a href="?page=@i">@i</a>
                                    }
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="~/admin/FromCreate/js/jquery.min.js"></script>
        <script src="~/admin/FromCreate/js/popper.js"></script>
        <script src="~/admin/FromCreate/js/bootstrap.min.js"></script>
        <script src="~/admin/FromCreate/js/main.js"></script>
    </body>
    </html>*@

<!-- Begin Page Content -->

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Danh mục</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách danh mục</h6>
        </div>

        <div class="page-header row">
            <div class="col-md-12" style="display: flex;">
                <form action="" method="get" class="form-inline ml-lg-auto">
                    <div class="form-group">
                        <label class="sr-only" for="">label</label>
                        <input class="form-control" name="name" placeholder="Search" value="">
                    </div>
                    <button type="submit" class="btn btn-icon btn-default mr-1"><i class="fas fa-check"> </i></button>
                </form>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="text-center align-middle">#</th>
                            <th class="text-center align-middle">Name</th>
                            <th class="text-center align-middle">Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="text-center align-middle" scope="row"> @Html.DisplayFor(modelItem => item._id)</td>
                            <td class="text-center align-middle"> @Html.DisplayFor(modelItem => item.CategoryName)</td>
                            <td class="text-center align-middle">
                                @if ( item.Status)
                                {
                                    <span>True</span>
                                }
                                else
                                {
                                    <span>False</span>

                                }
                            </td>
                            <td class="d-flex">
                                <a asp-action="Edit" asp-area="Admin" asp-controller="Category" asp-route-id="@item._id">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </td>
                            <td>
                                <a asp-action="Delete" asp-area="Admin" asp-route-id="@item._id" onclick="return confirm('Are you sure ?')">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <p>
                    Trang :
                    @for (int i = 1; i < ViewBag.totalpage; i++)
                    {
                        if (i == (int)ViewBag.page)
                        {
                            <span>@i</span>
                        }
                        else if (ViewBag.name != null)
                        {
                            <a href="?page=@i&name=@ViewBag.name">@i</a>
                        }
                        else
                        {
                            <a href="?page=@i">@i</a>
                        }
                    }
                </p>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->